.metaverse-1 {
  background-image: url('/assets/minting-bg.jpg');
  filter: blur(0.332253px);
  background-size: cover;
}

.metaverse-2 {
  background-image: url('/assets/minting-bg.jpg');
  filter: blur(0.332253px);
  background-size: cover;
}
